
*{
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%; /* Set global width */
  margin: 0 auto;
  font-family: sans-serif;
  /* background-color: #9B61E9; */
  padding-left: 5%;
  padding-right: 5%;
  /*background-image: linear-gradient(to right, #eab09e, #9f6b5f, #eab05a);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

