.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid black;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    font-size: max(1vw,10px);
   
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid black;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
   
}
.sidebar-option img {
    display: block;
} 

.sidebar-option p {
    margin: 0;
}
.sidebar-option.active{
    background-color:gray ;
    border-color:gray;
}
/* Responsive styles */
@media (max-width: 900px) {
    .sidebar {
        width: 25%;
    }

    .sidebar-options {
        padding-left: 10%;
    }
    
    .sidebar-option p {
        display: none;
    }
}