.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo p{
    color: black;
    font-size: medium;
  }

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  .navbar .profile {
      width: 30px;
  }
}

@media (max-width: 480px) {
  .navbar {
      padding: 8px 2px;
  }
  .navbar .profile {
      width: 25px;
  }
}