.verify{
    min-height: 60vh;
    display:grid;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: black ;
    border-radius: 50%;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    100%{
        transform:rotate(360deg);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .verify {
        min-height: 40vh; /* Adjusted minimum height for smaller screens */
    }

    .verify .spinner {
        width: 80px; /* Reduced spinner size for smaller screens */
        height: 80px;
    }
}